# Server timezone
TZ=UTC
# RAM allocation for the server
MEMORY=4G


# Minecraft server description
MOTD="My Home Minecraft server"
# Vanilla, Paper, Fabric, Forge, etc.
TYPE=VANILLA
# Minecraft game version. You can keep "LATEST" but it can auto update next time when you restart the server,
# So you can use specific version instead (e.g. 26.3)
VERSION=LATEST
# peaceful/easy/normal/hard
DIFFICULTY=normal
# survival/creative/adventure/spectator
MODE=survival
MAX_PLAYERS=5

# Admin rights for these usernames (comma-separated)
OPS=

# Set to FALSE to allow everyone to join
ENABLE_WHITELIST=TRUE
ENFORCE_WHITELIST=TRUE
# Whitelisted usernames (comma-separated)
WHITELIST=
